body {
  // overflow: hidden;
}
.cargo {
  .am-list {
    height: 600px;
    overflow: auto;
  }
  .am-list-header {
    display: none;
  }
  .panel {
    display: -webkit-box;
    display: flex;
    margin-bottom: 20px;
    border-top: 1px solid #6daadd;
    border-bottom: 1px solid #6daadd;
    position: relative;
    height: 80px;
    .panel-info {
      position: relative;
      width: 116px;
      height: 46px;
      margin-right: 12px;
      padding: 17px 0;
      background: #75aade;
      color: #fff;
      font-size: 16px;
      text-align: center;

      & > div:first-child {
        margin-bottom: 10px;
      }

      &:after {
        content: '';
        height: 0;
  			width: 0;
        position: absolute;
        right: -14px;
        top: 14px;
  			border: 7px solid #75aade;
  			border-color: transparent  transparent transparent #75aade;
      }
    }
    p {
      margin: 0;
      color: #4b4b4b;
      font-size: 14px;
      line-height: 40px;
      &:first-child {
        margin-top: 5px;
      }
      &:last-child {
        margin-top: -10px;
      }
    }


  }
  .help {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    color: #fff;
    text-align: center;
    line-height: 64px;
    font-size: 12px;
    background: #56d586;
    -webkit-backface-visibility: hidden;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /*--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Most Important*/
  }
}
