.am-list .am-list-item.am-input-item {
  min-height: 60px;
  height: 60px;
  line-height: 60px;
}
.am-list .am-list-item .am-input-label {
  font-size: 20px;
  text-align: center;
}
.am-list .am-list-item .am-input-control input {
  font-size: 20px;
  &::-webkit-input-placeholder {
    font-size: 20px;
    color: #939393;
  }
}
.anticon:before {
  color: #939393;
}
.am-button {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  &:after {
    border-radius: 50px;
  }
}
.am-button-warning {
  color: #ffa416;
  border-color: #ffa416;
}
.am-list .am-list-body:after {
  border: none;
}
