.login {
  overflow-y: hidden;
  .am-list .am-list-item.am-input-item {
    min-height: 50px;
    height: 50px;
    line-height: 50px;
    padding-right: 10px;
  }
  .am-list .am-list-item .am-input-label {
    font-size: 14px;
    text-align: center;
  }
  .am-list .am-list-item .am-input-control input {
    font-size: 14px;
    &::-webkit-input-placeholder {
      font-size: 14px;
      color: #939393;
    }
  }
  .anticon:before {
    color: #939393;
    font-size: 14px;
  }
  .am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra {
    font-size: 14px;
  }
  .am-list-item .am-list-line .am-list-content {
    display: inline-block;
    padding-left: 24px;
    width: 60px;
  }
  .am-picker-popup-item {
    font-size: 14px;
  }
  // Button
  .am-button {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    &:after {
      border-radius: 50px;
    }
  }
  .am-button-warning {
    color: #ffa416;
    border-color: #ffa416;
  }
  .am-button-warning:after {
    border-color: #ffa416;
  }
  .am-button-disabled:disabled:after {
    border-color: #ffa416;
  }
  .am-list .am-list-body:after {
    border: none;
  }
  // List
  .am-list-item {
    height: 50px;
    min-height: 50px;
  }
  // Input
  .am-list .am-list-item .am-input-control input {
    line-height: 50px;
  }
  // Picker
  .am-list-item.am-list-item-middle .am-list-line {
    min-height: 50px;
    height: 50px;
    line-height: 50px;
  }
  // WingBlank
  .am-wingblank.am-wingblank-lg {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.am-picker-popup-item, .am-picker-picker-item {
    font-size: 14px!important;
}

.person {
  .am-list-item {
    min-height: 58px;
  }
  .am-list-item .am-list-line {
    min-height: 58px;
    height: 58px;
  }
  .am-list-item .am-list-line .am-list-content {
    font-size: 15px;
    color: #4b4b4b;
  }

  .am-list-item .am-list-line .am-list-extra {
    font-size: 15px;
    color: #898989;
  }
  .am-list-item .am-list-line .am-list-arrow {
    width: 15px;
    height: 15px;
    margin-left: 12px;
  }
}
// Flex
.flex-container {
  background: #f5f5f9;
}
.flex-button-container button {
   margin-right: 0.18rem;
   margin-bottom: 0.18rem;
   width: 1.1rem;
}
.flex-button-container button:last-child {
  margin-right: 0;
}

.trapezoid {
  position: absolute;
  bottom: -1px;
  right: 0;
  background: transparent;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  height: 0;
  width: 65px;
  border-bottom: 20px solid #ffab2d;
  border-left: 8px solid transparent;
  border-right: 0px solid transparent;
}
.span-divider {
  display: inline-block;
  width: 14px;
}
// 页面动画
.pageSlider-leave {
  transform: translate3d(0, 0, 0);
}

.pageSlider-leave.pageSlider-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all 600ms;
}

.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000px;
  background: #f9f8f4;
}
