.login {
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-indent: -9999px;
    width: 150px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    background: transparent url(./logo.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .login-bg {
    position: relative;
    height: 280px;
    background: #000 url(./login-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .login-menu {
    position: absolute;
    display: table;
    width: 100%;
    height: 40px;
    bottom: 0;

    & > a {
      display: table-cell;
      text-decoration: none;
      text-align: center;
      letter-spacing: 8px;
      line-height: 40px;
      color: #8d8f91;
      font-size: 14px;
      border-top: 1px solid rgba(204, 204, 204, 0.4);
      &.active {
        color: #e3e3e3;
        background: rgba(204, 204, 204, 0.4);
      }
    }
  }
  .login-body {
    .login-submit {
      margin-top: 30px;
      // margin-left: 50px;
      // margin-right: 50px;
    }
  }
}
