.person {
  .panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
    height: 70px;
    background: #000;
  }
  // .am-list-body {
  //   & > a {
  //     position: relative;
  //     display: block;
  //     background: #000;
  //   }
  // }
  // .am-list-item {
  //   background: transparentx;
  // }
  .panel-media {
    padding-right: 15px;
    img {
      border-radius: 4px;
    }
  }
  .panel-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    .panel-text-title {
      font-weight: 400;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 5px;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      word-wrap: break-word;
      word-break: break-all;
      color: #fff;

      & > span:first-child {
        display: inline-block;
        padding-right: 10px;
        font-size: 16px;
      }
      & > span {
        font-size: 14px;
      }
    }

    .panel-text-desc {
      color: #ffa032;
      font-size: 13px;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .am-button {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    &:after {
      border-radius: 50px;
    }
  }
  // .tag-container{
  //   display: flex;
  //   padding-top: 0.18rem;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
  // .tag-container > div {
  //   margin-left: 0.18rem;
  //   margin-bottom: 0.18rem;
  // }
  .tag-container {
    width: 100%;
    background: #fff;
    margin-top: 15px;
    border-top: 1px solid #d2d1cd;
    border-bottom: 1px solid #d2d1cd;
    padding: 17px;
  }
  .am-tag {
    border: 1px solid #a5a5a5;
    border-radius: 28px;
    margin-right: 25px;
    margin-bottom: 22px;
    font-size: 12px;
    width: auto;
    padding: 5px 10px;
    line-height: 18px;
    height: 18px;
    & > .am-tag-text {
      color: #a5a5a5;
    }
  }
  .am-tag-disabled {
    background: transparent;
    color: #a5a5a5;
  }
  .car-img {
    height: 140px;
    margin-left: 30px;
    border-bottom: 1px solid #ddd;
    & > p {
      color: #4b4b4b;
      &.small {
        font-size: 12px;
      }
    }
    & > img {
      width: 80px;
      height: 60px;
      background: #ddd;
    }
  }
  .am-tag-active, .selected {
    border: 1px solid #ffa032;
    border-radius: 28px;
    margin-right: 25px;
    margin-bottom: 22px;
    font-size: 12px;
    width: auto;
    padding: 5px 10px;
    line-height: 18px;
    height: 18px;
    & > .am-tag-text {
      color: #ffa032;
    }
  }

  .name-input, .number-input, .weight-input {
    margin-top: 15px;
    border-top: 1px solid #d5d4d0;
    border-bottom: 1px solid #d5d3d0;
    padding-left: 15px;

    input {
      color: #a0a0a0;
    }
  }
  .label {
    line-height: 60px;
    height: 60px;
    margin-top: 15px;
    border-top: 1px solid #d5d4d0;
    border-bottom: 1px solid #d5d3d0;
    padding-left: 15px;
    background: #fff;
  }
  .submit-btn {
    margin-top: 50px;
  }

  // 编辑车牌
  .edit-number {
    .car-number-tag-wrapper {
      position: absolute;
      top: 29px;
      left: 18px;
      z-index: 10;
    }
    .car-number-tag {
      position: relative;
      border: 1px solid #ffa032;
      color: #ffa032;
      width: 44px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      & > .caret {
        position: absolute;
        right: 6px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-top: 6px solid #ffa032;
        border-right: 3px solid transparent;
      }
    }
    .am-input-item {
      padding-left: 70px;
    }
  }
}
.edit-tag {
  position: relative;
  background: #ccd0d3;
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 60px;
  .am-button {
    width: 28px;
    height: 36px;
    line-height: 36px;
    margin-right: 5px;
    margin-bottom: 17px;
    font-size: 14px;
    border-radius: 6px;
    &:after {
      border-radius: 0;
    }
    &.active {
      border-color: #ffa032;
      color: #ffa032;
    }
  }
  .select-tag {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 38px;
    border: none;
  }
}
